@import '../../App.scss';
@import '../Theme/ThemeToggle.scss';

.services{
    width: $width;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;

    aside{
        width: calc(($width) * 0.6);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        gap: 4rem;
        font-family: $font;
        padding: 0 3rem;

        .box{
            height: calc(($height) * 0.15);
            width: calc(($width) * 1.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius;
            text-align: center;
            padding: 0.5rem;
            background: $secondary-color;
            box-shadow:  0.06rem 0.06rem 0.25rem #cdd6d7,
                        -0.06rem -0.06rem 0.25rem #ffffff;
            transition: all 0.3s ease-in-out;

            &:hover{
                box-shadow: 0.1rem 0.3rem $hue-five;
            }

            i{
                color: $hue-five;
            }

            p{
                font-size: 0.7rem;
                color: $primary-color;
                margin: 0.6rem 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .services{
        display: flex;
        flex-direction: column;
        width: $width;

        aside{
            width: $width;
            grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
            // gap: 2rem;

            .box{
                // width: calc(($width) * 3);
            }
        }
    }
}