@import '../../App.scss';
@import '../Theme/ThemeToggle.scss';

main{
    width: $width;
    height: $height;
    font-family: $font;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;

    .left{
        height: calc(($height) * 0.7);
        padding: 0 2rem;
        display: flex;
        flex-direction: column;

        h1, h3, button{
            margin: 2rem 0;
        }

        h1{
            font-size: $large-font;
            background: linear-gradient(
                45deg,
                rgba(($button-color), 1),
                rgba(($hue-four), 1)
            );
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }

        h3{
            font-size: $semi-large-font;
            color: $hue-four;
        }

        p{
            color: $hue-four;
        }

        button{
            width: calc(($width) * 0.2);
            background: $button-color;
            color: $secondary-color;
            border-radius: $button-radius;
            outline: none;
            border: none;
            padding: 0.5rem 1.2rem;
            cursor: pointer;
            
            &:hover{
                background: $accent-color;
            }
        }
    }

    .right{
        width: calc(($width) * 0.5);
        img{
            width: calc(($width) * 0.5);
            transition: opacity 1s ease-in-out;
            position: absolute;
            top: calc(($height) * 0.1);
            left: calc(($width) * 0.5);
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 767px) {
    main{
        width: $width;

        .left{
            padding: 0 1rem;
            width: calc(($width) * 1);

            h1{
                font-size: 2rem;
            }

            h3{
                font-size: 1.3rem;
            }

            button{
                width: calc(($width) * 0.5);
            }
        }
        
        .right{
            width: 0;
            img{
                display: none;
            }
        }
    }
}