//light mode colors

$primary-color: #0e0e0e;
$white-color: #ffffff;
$secondary-color: #ecf6f7;
$main-color: #386876;
$accent-color: #57a8ac;
$button-color: #68cbca;
$hue-one: #8aa8af;
$hue-two: #78bbc4;
$hue-three: #52939e;
$hue-four: #64838c;
$hue-five: #b4bcc6;

//darkmode-colors

$dark-primary-color: #ecf6f7;
$dark-secondary-color: #0e0e0e;
$dark-main-color: #386876;
$dark-accent-color: #57a8ac;
$dark-button-color: #68cbca;
$dark-hue-one: #8aa8af;
$dark-hue-two: #78bbc4;
$dark-hue-three: #52939e;
$dark-hue-four: #64838c;
$dark-hue-five: #b4bcc6;