@import url('https://fonts.cdnfonts.com/css/dosis');
@import './components/Theme/ThemeToggle.scss';

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


$button-radius: 0.2rem;
$border-radius: 1rem;
$radius: 50%;
$height: 100vh;
$width: 100%;
$large-font: 3.345rem;
$semi-large-font: 1.5rem;
$normal-font: 1rem;
$small-font: 0.7rem;
$font: 'Dosis', sans-serif;

.App{
  // background: rgba(($secondary-color), 1);

  &.dark{
    background: $dark-secondary-color;
  }
}

// .light {
//   background-color: $secondary-color;
//   color: $primary-color;
//   .dark-text {
//     color: $dark-primary-color;
//   }
// }

// .dark {
//   background-color: $dark-secondary-color;
//   color: $dark-primary-color;
//   .dark-text {
//     color: $primary-color;
//   }
// }